<mat-expansion-panel #panel [hideToggle]="reply == -1" [disabled]="reply == -1">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>{{"EXPANSION_PANEL.RADIO_BUTTON" | translate}}&nbsp;&nbsp;</span>
    </mat-panel-title>
    <mat-panel-description>
      <mat-radio-group [(ngModel)]="reply" (change)="selectionChanged(reply); panel.open()">
        <mat-radio-button value="1">{{"EXPANSION_PANEL.YES" | translate}}</mat-radio-button>&nbsp;
        <mat-radio-button value="0">{{"EXPANSION_PANEL.NO" | translate}}</mat-radio-button>
      </mat-radio-group>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="reply-yes-row" *ngIf="reply == 1">
    <app-upload-formular [hasUndefinedGeoDataErrorMessage]="!geolocationActivated"
                         [hasUnsupportedGeoDataErrorMessage]="!supportedGeolocation"
                         (dataUploaded)="dataUploaded.emit($event)"
    >
    </app-upload-formular>
  </div>

  <div class="reply-no-row" *ngIf="reply == 0">
    <app-upload-formular-non-tested></app-upload-formular-non-tested>
  </div>

  <div class="reply-no-row" *ngIf="reply == -1">
    <p>&nbsp;</p>
  </div>

</mat-expansion-panel>
<p>&nbsp;</p>
