<!-- TOOLBAR -->
<div>
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <span>Covid Fighter</span>
  </mat-toolbar>
</div>

<!-- APP CONTENT -->
<div class="content-container" *ngIf="!isMobile()">
  <app-intro-header
    [geolocationActivated]="geolocationActivated"
    [supportedGeolocation]="supportedGeolocation"
  >
  </app-intro-header>

  <div class="map-stepper-container">
    <app-map [kmlLayerLinks]="kmlLayerLinks"
             [isLoading]="isLoading"
             [showUnsupportedGeoDataErrorMessage]="!supportedGeolocation">
    </app-map>
    <app-date-stepper (dateHasChanged)="onDateChanged($event)"
                      [steps]="getStepsForDateStepper()"
                      [isDisabled]="isLoading">
    </app-date-stepper>
  </div>


  <!-- FOOTER -->
  <footer>
      You like this application?&nbsp;
      <a href="https://github.com/StephanieHohenberg/CovidFighter" target="_blank" rel="noopener"> Give our repo a star</a>
  </footer>
  <p class="donation-line">
    <span>Contribute and donate&nbsp;<a href="https://paypal.me/pools/c/8xsRVWfYXB" target="_blank" rel="noopener">here</a>&nbsp;to support the further development and to cover the monthly costs of keeping this app alive.</span>
  </p>
</div>

<div class="content-container" *ngIf="isMobile()">
  <p>Sorry.</p>
  <p>This app does not support mobile devices.</p>
  <p>Check it out later on your computer or tablet.</p>
</div>
