.map {
  width: 75vw;
  height: 75vw;
  background: rgba(230, 235, 241, 1);
  position: relative;
}

agm-map {
  display: block;
  width: 75vw;
  height: 75vw;
}

.loader-container {
  position: absolute;
  background: rgba(230, 235, 241, 0.5);
  color: white;
  top: 0;
  left: 0;
  width: 75vw;
  height: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

mat-spinner {
  height: 5vw;
  width: 5vw;
  margin-top: 30vw;
  margin-left: 30px;
}

.error-container {
  width: 75vw;
  height: 75vw;
  background: rgba(230, 235, 241, 1);
}

.error-img {
  width: 75vw;
  height: 75vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.error-activate-loc {
  background-image: url("./../../../assets/error_loc.png");
}

.error-unsuported-city {
  background-image: url("./../../../assets/error_ber.png");
}

.error-no-data {
  background-image: url("./../../../assets/error_data.png");
}

@media (min-width: 800px) {
  .error-activate-loc {
    background-image: url("./../../../assets/error_loc_desktop.png");
  }

  .error-unsuported-city {
    background-image: url("./../../../assets/error_ber_desktop.png");
  }

  .error-no-data {
    background-image: url("./../../../assets/error_data_desktop.png");
  }
}
