<div class="map mat-elevation-z4" *ngIf="!hasNoData() && !hasError()">
  <agm-map [latitude]="lat" [longitude]="lng" [minZoom]="12" [maxZoom]="17">
    <agm-kml-layer *ngFor="let url of kmlLayerLinks" [url]="url"></agm-kml-layer>
  </agm-map>
  <div class="loader-container" *ngIf="isLoading">
    <div>
      <mat-spinner></mat-spinner>
      <p>{{"MAP.LOADING" | translate}}</p>
    </div>
  </div>
</div>

<div class="error-container mat-elevation-z4" *ngIf="hasError() || hasNoData()">
  <div class="error-img" [ngClass]="getClassForErrorImage()">
    &nbsp;
 </div>
</div>
