<div class="explaination-container">
  <p>{{"NON_TESTED.EXPLAINATION.TITLE" | translate }}</p>
  <div class="step-container">
    <div><span class="step-number">&nbsp;#1&nbsp;</span>&nbsp;</div>
    <p [innerHTML]="'NON_TESTED.EXPLAINATION.STEP_1' | translate"></p>
  </div>
  <div class="step-container">
    <div><span class="step-number">&nbsp;#2&nbsp;</span>&nbsp;</div>
    <p [innerHTML]="'NON_TESTED.EXPLAINATION.STEP_2' | translate"></p>
  </div>
  <p [innerHTML]="'NON_TESTED.EXPLAINATION.FEATURE' | translate"></p>
</div>

<div class="form-container">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{"NON_TESTED.FORM.SELECT_UPLOAD" | translate}}</mat-label>
      <mat-select [(value)]="selectedUploadOption">
        <mat-option *ngFor="let opt of uploadOptions" [value]="opt">{{opt | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="mail-field" *ngIf="isServerUpload(selectedUploadOption)">
      <mat-label>{{"NON_TESTED.FORM.FIELD_MAIL" | translate}}</mat-label>
      <input matInput placeholder="covidfighter.berlin@gmail.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <label>
      <input #fileInput type="file" accept="kml/*" (change)="onSubmitKmlFile(fileInput)" style="display:none">
      <mat-icon class="purple-circle">upload</mat-icon>
    </label>
  </div>
</div>
